<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-[#09090b] text-white">
    <div class="min-h-dvh flex flex-col justify-center items-center gap-8">
      <div class="text-center flex flex-col gap-2">
        <h1 th:text="${status}" class="text-7xl font-bold">404</h1>
        <p th:text="${message}" class="text-red-600 text-lg">
          Mensaje detallado del error
        </p>
      </div>
      <div class="w-[300px] h-[350px]">
        <img src="https://httpmemes.com/500.jpg" alt="Page Not Found" />
      </div>
    </div>
  </body>
</html>
